{% extends "v2/layout.html" %}

{% block title %}{{ config.TITLE }} - {{ filename }}{% endblock %}

{% block body %}
<div class="container">
<h1><a href="{{ url_for('frontend.show_album', album=album) }}">{{ album }}</a></h1>
<h2>{{ filename }}</h2>
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}

<p>Available image sizes:
{% for size in config.ALLOWED_SIZES %}
{% if size != 'full' %}
<a href="{{ url_for('frontend.get_image', album=album, size=size, filename=filename) }}">{{ size }}</a>
{% else %}
<a href="{{ url_for('frontend.get_image', album=album, filename=filename, size='full') }}">{{ size }}</a>
{% endif %}
{% if not loop.last %}
|
{% endif %}
{% endfor %}
</p>

<div class="">
<img src="{{ url_for('frontend.get_image', album=album, filename=filename, size=config.IMAGE_SIZE) }}" alt="{{ filename }}" />
</div>

<div class="panel panel-default">
<div class="panel-heading">Exif information</div>
<table class="table">
    {% for key in exif.keys() %}
    <tr><td>{{ key }}</td><td> {{ exif[key] }}</td></tr>
    {% endfor %}
</table>

</div>
{% endblock %}
