{% extends "default/layout.html" %}

{% block title %}{{ album }} - grid view{% endblock %}

{% block extrahead %}
<script src="{{ url_for('static_files', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static_files', filename='jquery.blockUI.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static_files', filename='css/jquery.lightbox-0.5.css') }}">
<script src="{{ url_for('static_files', filename='js/jquery.lightbox-0.5.js') }}"></script>
<script src="{{ url_for('static_files', filename='js/jquery.lazyload.min.js') }}"></script>

<!-- We only want the thunbnails to display when javascript is disabled -->
<script type="text/javascript">
    document.write('<style>.noscript { display: none; }</style>');
</script>

<style type="text/css">
a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50;
  padding: 25px 25px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}
</style>
{% endblock %}

{% block body %}
<div id="page">
    <div id="container">
        <h1><a href="{{ url_for('show_album', album=album) }}">{{ album }}</a></h1>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% include "default/_paginator.html" %}
        {% for filename in files %}
        <a class="lightbox thumb" style="float:left;width:{{config.GRID_SIZE}}px;height:{{config.GRID_SIZE}}px;padding:10px;" name="{{ filename }}" href="{{ url_for('get_image', album=album, filename=filename, size=800) }}" title="{{ filename }}">
            <img class="lazy" data-original="{{ url_for('get_image', album=album, filename=filename, size=config.GRID_SIZE) }}" src="img/grey.gif" alt="{{ filename }}"/>
        </a>
        {% endfor %}
        <div class="spacer"></div>
        {% include "default/_paginator.html" %}
        <a href="{{ url_for('show_index') }}">Other albums</a>
    </div>
</div>
<div id="footer">&copy; 2010 Jochem Kossen</div>
<script>
    $(function() {
        $("img.lazy").lazyload();
        $('a.lightbox').lightBox({
            imageLoading: '{{ url_for('static_files', filename='images/lightbox-ico-loading.gif') }}',
            imageBtnPrev: '{{ url_for('static_files', filename='images/lightbox-btn-prev.gif') }}',
            imageBtnNext: '{{ url_for('static_files', filename='images/lightbox-btn-next.gif') }}',
            imageBtnClose: '{{ url_for('static_files', filename='images/lightbox-btn-close.gif') }}',
            imageBlank: '{{ url_for('static_files', filename='images/lightbox-blank.gif') }}',
            containerResizeSpeed: 350,
            fixedNavigation: true,
        });
    });
</script>
{% endblock %}
