{% extends "viewer/default/layout.html" %}

{% block body %}
<h1><a href="{{ url_for('show_index') }}">{{ config.TITLE }}</a></h1>

<h2>Available photo albums:</h2>

<table style="width: 800px;">
    <tr><th>Preview</th><th>Album title</th><th>Nr of photos</th></tr>
{% for album in albums %}
<tr>
    <td><a href="{{ url_for('show_album', album=album) }}"><img src="{{ url_for('show_image', album=album, size=75, filename=shows[album].data['files'][0]) }}" /></a></td>
    <td><a href="{{ url_for('show_album', album=album) }}">{{ album }}</a></td>
    <td>{{ shows[album].nr_of_items() }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
