{% extends "default/layout.html" %}

{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('static_files', filename='galleriffic/css/basic.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static_files', filename='galleriffic/css/galleriffic-5.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static_files', filename='galleriffic/css/black.css') }}" type="text/css" />
{% endblock %}
{% block body %}
<div class="page">
<div id="page">
<div id="container">
<h1><a href="{{ url_for('show_index') }}">{{ config.TITLE }}</a></h1>

<h2>Available photo albums:</h2>

<table style="width: 800px;">
    <tr><th>Preview</th><th>Album title</th><th>Nr of photos</th></tr>
{% for album in albums %}
<tr>
    <td>{% if not shows[album].data['settings']['require_authentication'] %}
        <a href="{{ url_for('show_album', album=album) }}">
            <img src="{{ url_for('get_image', album=album, size=75, filename=shows[album].data['files'][0]) }}" />
        </a>
        {% endif %}
    </td>
    <td><a href="{{ url_for('show_album', album=album) }}">{{ album }}</a></td>
    <td>{{ shows[album].nr_of_items() }}</td>
</tr>
{% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}
