<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"  />
        <title>{% block title %}{{ config.TITLE }}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static_files', filename='style.css') }}" />
        {%block extrahead %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="page">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
