{% extends "default/layout.html" %}

{% block title %}{{ album }} page {{ paginator.page }} of {{ paginator.pages }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('static_files', filename='galleriffic/css/basic-small.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static_files', filename='galleriffic/css/galleriffic-5-small.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static_files', filename='galleriffic/css/black.css') }}" type="text/css" />
<script type="text/javascript" src="{{ url_for('static_files', filename='galleriffic/js/jquery-1.3.2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static_files', filename='galleriffic/js/jquery.history.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static_files', filename='galleriffic/js/jquery.galleriffic.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static_files', filename='galleriffic/js/jquery.opacityrollover.js') }}"></script>

<!-- We only want the thumbnails to display when javascript is disabled -->
<script type="text/javascript">
    document.write('<style>.noscript { display: none; }</style>');
</script>

{% endblock %}

{% block body %}
<div id="page">
    <div id="container">
        <h1><a href="{{ url_for('list_small', album=album, page=1) }}">{{ album }}</a> ({{ paginator.count }} photos)</h1>
        <h2>{{ config.THUMBNAILS_PER_SMALL_LIST }} photos per set. This is set {{ paginator.page }} of {{ paginator.pages }}</h2>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}

        <div class="paginator">
            <a class="pageLink prev" href="{{ url_for('list', album=album, page=page) }}">big version</a> |
            Set: <a href="{{ paginator.first }}">&laquo; first</a>
            {%- if paginator.has_previous %}
            <a href="{{ paginator.previous }}">&lsaquo; prev</a>
            {%- else %}
            <span class="inactive"> &lsaquo; prev</span>{% endif %}
            | {{ paginator.page }} /
            {% if paginator.has_next %}
            <a href="{{ paginator.last }}">{{ paginator.pages }}</a> |
            {% else %}
            {{ paginator.pages }} |
            {% endif %}
            {% if paginator.has_next %}
            <a href="{{ paginator.next }}">next &rsaquo;</a>
            <a href="{{ paginator.last }}">last &raquo;</a>
            {%- else %}
            <span class="inactive">next &rsaquo;</span>
            <span class="inactive">last &raquo;</span>
            {% endif %}
            <div id="photonav"></div>
        </div>

        <!-- Start Advanced Gallery Html Containers -->
        <div class="navigation-container">
            <div id="thumbs" class="navigation">
                <a class="pageLink prev" style="visibility: hidden;" href="#" title="Previous Page"></a>

                <ul class="thumbs noscript">
                    {% for filename in files %}
                    <li>
                    <a class="thumb" name="{{ filename }}" href="{{ url_for('show_image', album=album, filename=filename, size=400) }}" title="{{ filename }}">
                        <img src="{{ url_for('show_image', album=album, filename=filename, size=config.THUMBNAIL_SIZE) }}" alt="{{ filename }}"/>
                    </a>
                    <div class="caption">
                        <div class="image-title">{{ filename }}</div>
                        <div class="image-desc">
                            <a href="{{ url_for('image_page', album=album, filename=filename) }}">Image information page</a>
                        </div>
                        <div class="download">
                            <a href="{{ url_for('show_image', album=album, filename=filename, size=1600) }}">Download 1600 pixel version</a>
                        </div>
                        <div class="download">
                            <a href="{{ url_for('show_image_full', album=album, filename=filename) }}">Download original full-size version</a>
                        </div>
                    </div>
                    </li>
                    {% endfor %}
                </ul>
                <a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page"></a>
            </div>
        </div>

        <div class="content">
            <div class="slideshow-container">
                <div id="loading" class="loader"></div>
                <div id="slideshow" class="slideshow"></div>
            </div>
            <div id="caption" class="caption-container">
                <div class="photo-index"></div>
            </div>
        </div>

        <div style="clear: both;"></div>
    </div>
</div>
<div id="footer">&copy; 2010 Jochem Kossen</div>
<script type="text/javascript">
    jQuery(document).ready(function($) {
            // We only want these styles applied when javascript is enabled
            $('div.content').css('display', 'block');

            // Initially set opacity on thumbs and add
            // additional styling for hover effect on thumbs
            var onMouseOutOpacity = 0.67;
            $('#thumbs ul.thumbs li, div.navigation a.pageLink').opacityrollover({
mouseOutOpacity:   onMouseOutOpacity,
mouseOverOpacity:  1.0,
fadeSpeed:         'fast',
exemptionSelector: '.selected'
});

            // Initialize Advanced Galleriffic Gallery
            var gallery = $('#thumbs').galleriffic({
delay:                     2500,
numThumbs:                 14,
preloadAhead:              3,
enableTopPager:            false,
enableBottomPager:         false,
imageContainerSel:         '#slideshow',
controlsContainerSel:      '#photonav',
captionContainerSel:       '#caption',
loadingContainerSel:       '#loading',
renderSSControls:          true,
renderNavControls:         true,
playLinkText:              'Play Slideshow',
pauseLinkText:             'Pause Slideshow',
prevLinkText:              '&lsaquo; Previous Photo',
nextLinkText:              'Next Photo &rsaquo;',
nextPageLinkText:          'Next &rsaquo;',
prevPageLinkText:          '&lsaquo; Prev',
enableHistory:             true,
autoStart:                 false,
syncTransitions:           true,
defaultTransitionDuration: 900,
onSlideChange:             function(prevIndex, nextIndex) {
    // 'this' refers to the gallery, which is an extension of $('#thumbs')
    this.find('ul.thumbs').children()
        .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
        .eq(nextIndex).fadeTo('fast', 1.0);

    // Update the photo index display
    this.$captionContainer.find('div.photo-index')
        .html('Photo '+ (nextIndex+1) +' of '+ this.data.length);
},
onPageTransitionOut:       function(callback) {
                               this.fadeTo('fast', 0.0, callback);
                           },
onPageTransitionIn:        function() {
                               var prevPageLink = this.find('a.prev').css('visibility', 'hidden');
                               var nextPageLink = this.find('a.next').css('visibility', 'hidden');

                               // Show appropriate next / prev page links
                               if (this.displayedPage > 0)
                                   prevPageLink.css('visibility', 'visible');

                               var lastPage = this.getNumPages() - 1;
                               if (this.displayedPage < lastPage)
                                   nextPageLink.css('visibility', 'visible');

                               this.fadeTo('fast', 1.0);
                           }
});

/**************** Event handlers for custom next / prev page links **********************/

gallery.find('a.prev').click(function(e) {
        gallery.previousPage();
        e.preventDefault();
        });

gallery.find('a.next').click(function(e) {
        gallery.nextPage();
        e.preventDefault();
        });

/****************************************************************************************/

/**** Functions to support integration of galleriffic with the jquery.history plugin ****/

// PageLoad function
// This function is called when:
// 1. after calling $.historyInit();
// 2. after calling $.historyLoad();
// 3. after pushing "Go Back" button of a browser
function pageload(hash) {
    // alert("pageload: " + hash);
    // hash doesn't contain the first # character.
    if(hash) {
        $.galleriffic.gotoImage(hash);
    } else {
        gallery.gotoIndex(0);
    }
}

// Initialize history plugin.
// The callback is called at once by present location.hash. 
$.historyInit(pageload, "advanced.html");

// set onlick event for buttons using the jQuery 1.3 live method
$("a[rel='history']").live('click', function(e) {
        if (e.button != 0) return true;

        var hash = this.href;
        hash = hash.replace(/^.*#/, '');

        // moves to a new page. 
        // pageload is called at once. 
        // hash don't contain "#", "?"
        $.historyLoad(hash);

        return false;
        });

/****************************************************************************************/
});
</script>
{% endblock %}
