{% extends "default/layout.html" %}

{% block title %}{{ album }} - grid view{% endblock %}

{% block extrahead %}
<script src="{{ url_for('static_files', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static_files', filename='jquery.blockUI.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static_files', filename='css/jquery.lightbox-0.5.css') }}">
<script src="{{ url_for('static_files', filename='js/jquery.lightbox-0.5.js') }}"></script>

<script>
    // We only want the thunbnails to display when javascript is disabled
    document.write('<style>.noscript { display: none; }</style>');

    toggle_show = function(element, url, new_url, add) {
        $(element).html('please wait ...');
        result = $.getJSON(url, false, function() {
            img = (add) ? '{{ url_for('static_files', filename='on.png') }}' : '{{ url_for('static_files', filename='off.png') }}';
            new_text = '<img src="' + img + '">';
            new_add = (add) ? 'false' : 'true';
            done_html = '<a href="#" onclick=\'return toggle_show("' + element + '", "' + new_url + '", "' + url + '", ' + new_add + ');\'>' + new_text + '</a>';
            $(element).html(done_html);
        });
        return false;
    }

    show_toggle_require_auth = function(element, value) {
        $(element).html('please wait ...');
        url_yes = '{{ url_for('show_change_setting', album=album, setting='require_authentication', value='yes') }}';
        url_no = '{{ url_for('show_change_setting', album=album, setting='require_authentication', value='no') }}';
        url = (value == 'yes') ? url_yes : url_no;
        result = $.getJSON(url, false, function() {
            img = (value == 'yes') ? '{{ url_for('static_files', filename='on.png') }}' : '{{ url_for('static_files', filename='off.png') }}';
            new_text = '<img src="' + img + '">';
            new_value = (value == 'yes') ? 'no' : 'yes';
            done_html = '<a href="#" onclick=\'return show_toggle_require_auth("' + element + '", "' + new_value + '");\'>' + new_text + '</a>';
            $(element).html(done_html);
        });
        return false;
    }
</script>
{% endblock %}

{% block body %}
<div id="page">
    <div id="container">
        <h1><a href="{{ url_for('show_album', album=album) }}">{{ album }}</a></h1>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}

        {% include "default/_paginator.html" %}

        <div class="grid-container">
            {% for filename in files %}
            <div class="grid-item">
                <a class="grid-item-image" style="width:{{config.GRID_SIZE}}px;height:{{config.GRID_SIZE}}px;" name="{{ filename }}"
                    href="{{ url_for('image_page', album=album, filename=filename) }}" title="{{ filename }}">
                    <img src="{{ url_for('show_image', album=album, filename=filename, size=config.GRID_SIZE) }}" alt="{{ filename }}">
                </a>
                <div id="select-for-show">publish:
                    <span id="toggle-show-{{ loop.index }}">
                        {% if filename in files %}
                        <a  href="#"
                            onclick='return toggle_show("#toggle-show-{{ loop.index }}",
                            "{{ url_for('remove_image_from_show', album=album, filename=filename) }}", "{{ url_for('add_image_to_show', album=album, filename=filename) }}", false);'>
                            <img src="{{ url_for('static_files', filename='on.png') }}">
                        </a>
                        {% else %}
                        <a href="#"
                            onclick='return toggle_show("#toggle-show-{{ loop.index }}",
                            "{{ url_for('add_image_to_show', album=album, filename=filename) }}", "{{ url_for('remove_image_from_show', album=album, filename=filename) }}", true);'>
                            <img src="{{ url_for('static_files', filename='off.png') }}">
                        </a>
                        {% endif %}
                    </span>
                </div>
                <div>rotate:
                    <a href="#" onclick='rotate("{{ url_for("image_rotate", album=album, filename=filename, steps=1) }}");return false;'>¼</a> &raquo;
                    <a href="#" onclick='rotate("{{ url_for("image_rotate", album=album, filename=filename, steps=2) }}");return false;'>½</a> &raquo;
                    <a href="#" onclick='rotate("{{ url_for("image_rotate", album=album, filename=filename, steps=3) }}");return false;'>¾</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="sidebar">
            <ul>
                <li>authentication required:
                    <span id="toggle_show">
                        {% if show.get_setting('require_authentication') != 'no' %}
                        <a href="#" onclick="return show_toggle_require_auth('#toggle_show', 'no')"><img src="{{ url_for('static_files', filename='on.png') }}" alt="disable"></a>
                        {% else %}
                        <a href="#" onclick="return show_toggle_require_auth('#toggle_show', 'yes')"><img src="{{ url_for('static_files', filename='off.png') }}" alt="disable"></a>
                        {% endif %}
                    </span>
                </li>
                <li><a href="{{ url_for('show_edit_users', album=album) }}">Edit users</a></li>
                <li><a href="#" onclick='rotate_all_images(0);return false;'>Rotate all images based on exif info</a></li>
                <li><a href="{{ url_for('add_all_images_to_show', album=album) }}">Add all images to show</a></li>
                <li><a href="{{ url_for('sort_show_by_exifdate', album=album) }}">Sort show by exifdate</a></li>
                <li><a href="{{ url_for('show_index') }}">Other albums</a><br>
            </ul>
        </div>
        <div class="spacer"></div>
        {% include "default/_paginator.html" %}
    </div>
</div>
<div id="footer">&copy; 2010-2011 Jochem Kossen</div>

<script>
    $(function() {
        $('a.lightbox').lightBox({
            imageLoading: '{{ url_for('static_files', filename='images/lightbox-ico-loading.gif') }}',
            imageBtnPrev: '{{ url_for('static_files', filename='images/lightbox-btn-prev.gif') }}',
            imageBtnNext: '{{ url_for('static_files', filename='images/lightbox-btn-next.gif') }}',
            imageBtnClose: '{{ url_for('static_files', filename='images/lightbox-btn-close.gif') }}',
            imageBlank: '{{ url_for('static_files', filename='images/lightbox-blank.gif') }}',
            fixedNavigation: true,
        });
    });

    var images = [ {% for filename in all_files %}'{{ filename }}'{% if not loop.last %}, {% endif %}{% endfor %} ];
    _rotate_all_images = function(index) {
        percentage_complete = Math.round((index * 100) / images.length);
        $('#progress').html(percentage_complete + ' % done (' + index + ' of ' + images.length + ': ' + images[index] + ')');
        $.ajax({
            url: '{{ url_for('rotate_url', album=album) }}' + images[index] + '/',
            context: document.body,
            success: function() {
                if (index < images.length-1) {
                    _rotate_all_images(index+1);
                    } else {
                    window.location.reload();
                }
            }
        });
    }
    rotate_all_images = function(index) {
        if (confirm('This will rotate all images in the album according to EXIF specs. Are you sure?')) {
            $.blockUI({ message: '<h1><img src="{{ url_for('static_files', filename='galleriffic/css/loader.gif') }}" style="vertical-align:middle;" /> Rotating all images ...</h1><h2><span id="progress">0 percent complete</span></h2>'});
            _rotate_all_images(index);
        }
    }

    rotate = function(url) {
        $.blockUI({ message: '<h1><img src="{{ url_for('static_files', filename='galleriffic/css/loader.gif') }}" style="vertical-align:middle;" /> Rotating image ...</h1>'});
        $.ajax({
            url: url,
            context: document.body,
            success: function() {
                window.location.reload();
            }
        });
    }
</script>
{% endblock %}
