{% extends "admin/default/layout.html" %}

{% block title %}{{ album }} page {{ paginator.page }} of {{ paginator.pages }}{% endblock %}

{% block body %}
<h1><a href="{{ url_for('show_album', album=album) }}">{{ album }}</a></h1>
<h2>This album contains {{ paginator.count }} photos</h2>
<p>
<a href="{{ url_for('add_all_images_to_show', album=album) }}">add all images to show</a>
<a href="{{ url_for('sort_show_by_exifdate', album=album) }}">sort show by exifdate</a>
</p>
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}

<div class="paginator">
    <a href="{{ paginator.first }}">&laquo;</a>
    {%- if paginator.has_previous %}
    <a href="{{ paginator.previous }}">&lsaquo;</a>
    {%- else %}<span class="inactive">&laquo;</span>{% endif %}
    | {{ paginator.page }} / <a href="{{ paginator.last }}">{{ paginator.pages }}</a> |
    {% if paginator.has_next %}
    <a href="{{ paginator.next }}">&rsaquo;</a>
    {%- else %}<span class="inactive">&raquo;</span>{% endif %}
    <a href="{{ paginator.last }}">&raquo;</a>
</div>

{% for file in files %}
<div class="image" style="width:{{ config.ADMIN_THUMBNAIL_SIZE }}px;height:{{ config.ADMIN_THUMBNAIL_SIZE + 25 }}px;">
<a href="{{ url_for('image_page', album=album, filename=file) }}"><img src="{{ url_for('show_image', album=album, filename=file, size=config.ADMIN_THUMBNAIL_SIZE) }}" alt="{{ file }}"/></a>
<br />
{% if file in show.data['files'] %}
<a href="{{ url_for('remove_image_from_show', album=album, filename=file) }}">remove from show</a>
{% else %}
<a href="{{ url_for('add_image_to_show', album=album, filename=file) }}">add to show</a>
{% endif %}
<a href="{{ url_for('rotate_image', album=album, filename=file) }}">rotate</a>
</div>
{% endfor %}

<div class="spacer"></div>

<div class="paginator">
    <a href="{{ paginator.first }}">&laquo;</a>
    {%- if paginator.has_previous %}
    <a href="{{ paginator.previous }}">&lsaquo;</a>
    {%- else %}<span class="inactive">&laquo;</span>{% endif %}
    | {{ paginator.page }} / <a href="{{ paginator.last }}">{{ paginator.pages }}</a> |
    {% if paginator.has_next %}
    <a href="{{ paginator.next }}">&rsaquo;</a>
    {%- else %}<span class="inactive">&raquo;</span>{% endif %}
    <a href="{{ paginator.last }}">&raquo;</a>
</div>
{% endblock %}
