{% extends "v2/layout.html" %}

{% block title %}{{ album }} - grid view{% endblock %}

{% block extrahead %}
<script src="{{ url_for('admin.static_files', filename='jquery.js') }}"></script>
<script src="{{ url_for('admin.static_files', filename='showoffadmin.js') }}"></script>
{% endblock %}

{% block body %}
{% include "default/_paginator.html" %}
<h1><a href="{{ url_for('admin.show_album', album=album) }}">{{ album }}</a></h1>
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}

<div class="well">
    <ul>
        <li>authentication required:
            <span id="toggle_show">
                {% if show.get_setting('require_authentication') != 'no' %}
                <a href="#" onclick="return SHOWOFFADMIN.toggle_bool('#toggle_show', 'require_authentication', 'no')"><span class="glyphicon glyphicon-ok"></span></a>
                {% else %}
                <a href="#" onclick="return SHOWOFFADMIN.toggle_bool('#toggle_show', 'require_authentication', 'yes')"><span class="glyphicon glyphicon-remove"></span></a>
                {% endif %}
            </span>
        </li>
        <li>show album in reverse order:
            <span id="toggle_reverse">
                {% if show.get_setting('reverse') == 'yes' %}
                <a href="#" onclick="return SHOWOFFADMIN.toggle_bool('#toggle_reverse', 'reverse', 'no')"><span class="glyphicon glyphicon-ok"></span></a>
                {% else %}
                <a href="#" onclick="return SHOWOFFADMIN.toggle_bool('#toggle_reverse', 'reverse', 'yes')"><span class="glyphicon glyphicon-remove"></span></a>
                {% endif %}
            </span>
        </li>
		<li><a href="{{ url_for('admin.show_edit_users', album=album) }}">Edit users</a></li>
        <li><a href="#" onclick='rotate_all_images(0);return false;'>Rotate all images based on exif info</a></li>
        <li><a href="{{ url_for('admin.add_all_images_to_show', album=album) }}">Add all images to show</a></li>
        <li><a href="{{ url_for('admin.sort_show_by_exifdate', album=album) }}">Sort show by exifdate</a></li>
        <li><a href="{{ url_for('admin.show_index') }}">Other albums</a><br>
    </ul>
</div>

<div class="grid-container">
    {% for filename in files %}
    <div class="col-md-4">
        <a class="grid-item-image" style="width:{{config.GRID_SIZE}}px;height:{{config.GRID_SIZE}}px;" name="{{ filename }}"
           href="{{ url_for('admin.image_page', album=album, filename=filename) }}" title="{{ filename }}">
            <img src="{{ url_for('admin.show_image', album=album, filename=filename, size=config.GRID_SIZE) }}" alt="{{ filename }}">
        </a>
        <div id="select-for-show">publish:
            <span id="toggle-show-{{ loop.index }}">
                {% if filename in files %}
                <a  href="#"
                    onclick='return SHOWOFFADMIN.toggle_show("#toggle-show-{{ loop.index }}",
                    "{{ url_for('admin.remove_image_from_show', album=album, filename=filename) }}",
                    "{{ url_for('admin.add_image_to_show', album=album, filename=filename) }}", false);'>
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
                {% else %}
                <a href="#"
                   onclick='return SHOWOFFADMIN.toggle_show("#toggle-show-{{ loop.index }}",
                   "{{ url_for('admin.add_image_to_show', album=album, filename=filename) }}",
                   "{{ url_for('admin.remove_image_from_show', album=album, filename=filename) }}", true);'>
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                {% endif %}
            </span>
        </div>
        <div>rotate:
            <a href="#" onclick='rotate("{{ url_for('admin.image_rotate', album=album, filename=filename, steps=1) }}");return false;'>¼</a> &raquo;
            <a href="#" onclick='rotate("{{ url_for('admin.image_rotate', album=album, filename=filename, steps=2) }}");return false;'>½</a> &raquo;
            <a href="#" onclick='rotate("{{ url_for('admin.image_rotate', album=album, filename=filename, steps=3) }}");return false;'>¾</a>
        </div>
    </div>
    {% endfor %}
</div>

{% include "default/_paginator.html" %}
</div>
</div>
<div id="footer">&copy; 2010-2014 Jochem Kossen</div>

<script>
    $(document).ready(function() {

    var cfg = {
    'base_url': '{{ url_for('admin.show_index') }}',
    'album': '{{ album }}'
    };

    SHOWOFFADMIN.init(cfg);

    var images = [ {% for filename in all_files %}'{{ filename }}'{% if not loop.last %}, {% endif %}{% endfor %} ];
    _rotate_all_images = function(index) {
    percentage_complete = Math.round((index * 100) / images.length);
    $('#progress').html(percentage_complete + ' % done (' + index + ' of ' + images.length + ': ' + images[index] + ')');
    $.ajax({
    url: '{{ url_for('admin.rotate_url', album=album) }}' + images[index] + '/',
    context: document.body,
    success: function() {
    if (index < images.length-1) {
                _rotate_all_images(index+1);
                } else {
                window.location.reload();
                }
                }
                });
                }
                rotate_all_images = function(index) {
                if (confirm('This will rotate all images in the album according to EXIF specs. Are you sure?')) {
                $.blockUI({ message: '<h1><img src="{{ url_for('admin.static_files', filename='galleriffic/css/loader.gif') }}" style="vertical-align:middle;" /> Rotating all images ...</h1><h2><span id="progress">0 percent complete</span></h2>'});
                _rotate_all_images(index);
                }
                }

                rotate = function(url) {
                $.blockUI({ message: '<h1><img src="{{ url_for('admin.static_files', filename='galleriffic/css/loader.gif') }}" style="vertical-align:middle;" /> Rotating image ...</h1>'});
                $.ajax({
                url: url,
                context: document.body,
                success: function() {
                window.location.reload();
                }
                });
                }
                });
                </script>
{% endblock %}
