{% extends "v2/layout.html" %}

{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('admin.static_files', filename='galleriffic/css/basic.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('admin.static_files', filename='galleriffic/css/galleriffic-5.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('admin.static_files', filename='galleriffic/css/black.css') }}" type="text/css" />
{% endblock %}
{% block body %}
<h1><a href="{{ url_for('admin.show_index') }}">{{ config.TITLE }}</a></h1>

<h2>Available photo albums:</h2>

<ul>
{% for album in albums %}
<li><a href="{{ url_for('admin.show_album', album=album) }}">{{ album }}</a></li>
{% endfor %}
</ul>
{% endblock %}
